* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html,
body {
    width: 100%;
    height: 100%;
    font-size: clamp(14px, 1vw, 16px);
}

main {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: 8% 1fr 0.5fr 0.5fr;
    grid-template-areas:
        "nav nav nav"
        "left1 right1 right2"
        "left2 right3 right3"
        "left2 right4 right5";
    gap: 1rem;
    background-color: whitesmoke;
    padding: 1rem 1rem;

    nav {
        background-color: whitesmoke;
        grid-area: nav;
        display: flex;
        padding: 0.8rem;
        align-items: center;
        justify-content: space-between;

        .left {
            display: flex;
            border: 2px solid black;
            border-radius: 50px;
            padding: 0.5rem;
            align-items: center;
            gap: 1.5rem;

            p {
                font-size: 1rem;
            }

            .arrow {
                border: 2px solid black;
                border-radius: 50%;
                padding: 0.5rem;

                h4 {
                    font-size: 1rem;
                }
            }
        }

        .middle {
            display: flex;
            border: 2px solid black;
            border-radius: 50px;
            padding: 0.2rem;
            align-items: center;
            width: 82%;
            gap: 1.5rem;

            .component1 {
                display: flex;
                align-items: center;
                padding: 0.30rem;
                border-radius: 50px;
                gap: 1.5rem;
                border-right: 2px solid black;

                .num {
                    border: 2px solid black;
                    border-radius: 50px;
                    padding: 0.5rem;
                    background-color: black;
                    color: whitesmoke;
                }
            }

            .component2 {
                display: flex;
                align-items: center;
                padding: 0.30rem;
                border-radius: 50px;
                gap: 1.5rem;
                border-right: 2px solid black;
                border-left: 2px solid black;

                .active {
                    border: 2px solid black;
                    border-radius: 50px;
                    padding: 0.5rem;
                    background-color: black;
                    color: whitesmoke;
                }
            }
        }

        .right {
            display: flex;
            border: 2px solid black;
            border-radius: 50px;
            padding: 0.5rem;
            align-items: center;
            gap: 1.7rem;
        }

        p {
            font-size: 1rem;
        }

        .arrow {
            border: 2px solid black;
            border-radius: 50%;
            padding: 0.5rem;
            display: flex;
            align-items: center;

            h4 {
                font-size: 1.2rem;
            }
        }
    }

    .view1 {
        grid-area: left1;
        border-radius: 2rem;
        background: url(./assest/desktop-wallpaper-mercury-little-planet-hermes-psychopomp-elliptical-elliptical-orbit.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        color: whitesmoke;
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding: 2rem;
        gap: 2rem;

        .line1 {
            width: 100%;
            height: 1px;
            background-color: gray;
        }

        .line2 {
            width: 100%;
            height: 1px;
            background-color: gray;
        }

        .top {
            padding-top: 2rem;

            h1 {
                font-size: 4rem;
                font-weight: 400;
            }
        }

        .bottom {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-bottom: 2rem;

            .left {
                display: flex;
                justify-content: space-between;
                font-size: 1.2rem;
                padding: 0.8rem;
                width: 40%;
                border: 2px solid whitesmoke;
                border-radius: 50px;
                gap: 1rem;
                align-items: center;

                .arrow {
                    padding: 0.2rem;
                    border: 2px solid whitesmoke;
                    border-radius: 50px;
                }
            }

            .right {
                display: flex;
                font-size: 1.2rem;
                padding: 0.8rem;
                gap: 0.5rem;
                align-items: center;
            }
        }
    }

    .view2 {
        grid-area: left2;
        border: 2px solid black;
        border-radius: 2rem;
        padding: 2rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .top{
            p{
                border-radius: 50px;
                            display: inline;
                            padding: 0.2rem 0.6rem;
                border: 2px solid black;
                font-size: 1.1rem;
                text-transform: capitalize;
            }
        }

        .middle{
            display: flex;
            flex-direction: column;
            gap: 2rem;
            .top{
                display: flex;
                justify-content: space-between;

                h1{
                    font-size: 3.3rem;
                }

                img{
                    width: 50px;
                    height: 50px;
                    object-fit: cover;
                    border-radius: 50%;
                }
            }

            .bottom{
                width: 100%;
                display: flex;
                flex-direction: column;
                gap: 3px;
                .top{
                    display: flex;
                    width: 100%;
                    .line1{
                        width: 30%;
                        height: 20px;
                        border-radius: 50px;
                        overflow: hidden;
                        background-color: #5555556b;
                        .inner1{
                            height: 100%;
                            width: 100%;
                            background-color: black;
                        }
                    }


                    .line2{
                        width: 65%;
                        height: 20px;
                        border-radius: 50px;
                        overflow: hidden;
                        background-color: #5555556b;
                        .inner2{
                            height: 100%;
                            width: 100%;
                        }
                    }

                    .line3{
                        width: 5%;
                        height: 20px;
                        border-radius: 50px;
                        overflow: hidden;
                        background-color: #5555556b;
                        .inner3{
                            height: 100%;
                            width: 100%;
                        }
                    }


                }

                .bottom1{
                    display: flex;
                    width: 100%;
                    .line1{
                        width: 80%;
                        height: 20px;
                        border-radius: 50px;
                        overflow: hidden;
                        background-color: #5555556b;
                        .inner1{
                            height: 100%;
                            width: 100%;
                            background-color: black;
                        }
                    }


                    .line2{
                        width: 20%;
                        height: 20px;
                        border-radius: 50px;
                        overflow: hidden;
                        background-color: #5555556b;
                        .inner2{
                            height: 100%;
                            width: 100%;
                        }
                    }
                }
            }

        }

        .last{
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
            p{
                font-size: 1.2rem;
            }

            .bottom{
                border: 2px solid black;
                border-radius: 50px;
                padding: 0.2rem;
                display: flex;
                justify-content: space-between;
                align-items: center;


        .arrow {
            border: 2px solid black;
            border-radius: 50%;
            padding: 0.5rem;
            display: flex;
            align-items: center;

            h4 {
                font-size: 1.2rem;
            }
        }
            }
        }
    }

    .view3 {
        background-color: #FFDA56;
        grid-area: right1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 2rem;
        border-radius: 2rem;

        .top {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .left {
                font-size: 1.2rem;
                padding: 0.2rem;
                border: 2px solid black;
                border-radius: 50px;
            }

            .right {
                padding: 0.5rem;
                font-size: 1.5rem;
                background-color: black;
                color: whitesmoke;
                border-radius: 50%;
            }
        }

        .middle {
            display: flex;
            flex-direction: column;
            gap: 0.8rem;

            h2 {
                font-size: 2.3rem;
            }

            p {
                color: #555;
            }
        }

        .bottom {
            display: flex;
            flex-direction: column;
            gap: 1rem;

            img {
                width: 35px;
                height: 35px;
                border-radius: 50%;
                object-fit: cover;
            }

            h2 {
                font-size: 2.5rem;
            }
        }

        .line {
            width: 100%;
            height: 10px;
            background-color: #55555558;
            border-radius: 50px;
            overflow: hidden;

            .innerline {
                height: 100%;
                width: 60%;
                background-color: black;
                border-radius: 50px;
            }
        }


        .line1 {
            width: 100%;
            height: 1px;
            background-color: gray;
        }
    }

    .view4 {
        background-color: #D5D6B6;
        grid-area: right2;
        border-radius: 2rem;
        clip-path: polygon(39% 9%, 61% 9%, 71% 0, 99% 0, 100% 100%, 0 100%, 0 0, 29% 0);
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        padding: 2rem;

        .top {
            display: flex;
            justify-content: space-between;
            align-items: center;

            #name {
                padding: 0.2rem 0.6rem;
                border: 2px solid black;
                border-radius: 50px;
                font-size: 1.1rem;
                display: flex;
                align-items: center;
                justify-content: center;
            }

            p {
                font-size: 1.1rem;
            }
        }

        .middle {
            display: flex;
            flex-direction: column;
            gap: 0.8rem;

            h2 {
                font-size: 2.3rem;
            }

            p {
                color: #555555b4;
            }
        }


        .bigbottom{
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 1rem;
        .bottom {
            display: flex;
            width: 100%;
            height: 5rem;
            gap: 0.2rem;
            flex-direction: row;

            rotate: 180deg;

            .line {
                width: 16.6%;
                background-color: black;
                border-radius: 0.5rem;
            }

            .line1 {
                height: 90%;
            }

            .line1 {
                height: 60%;
            }


            .line2 {
                height: 50%;
            }


            .line3 {
                height: 40%;
            }


            .line4 {
                height: 30%;
            }


            .line5 {
                height: 20%;
            }

            .line6 {
                height: 10%;
            }
            
        }

        .inner{
            .linelast{
            width: 100%;
            height: 1px;
            background-color: gray;
            }
        }
    }
}

.view5 {
    grid-area: right3;
    border: 2px solid black;
    border-radius: 2rem;
    padding: 0.2rem;

    .top{
        height: 100%;
        height: 100px;
        position: relative;

        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 2rem;
        }

        #blog{
            position: absolute;
            padding: 0.2rem 0.5rem;
            top: 18%;
            left: 3%;
            background-color: whitesmoke;
            border-radius: 50px;
        }

        #intro{
                        position: absolute;
            padding: 0.2rem 0.5rem;
            top: 18%;
            left: 10%;
            background-color: whitesmoke;
            border-radius: 50px;  
        }
    }

    .bottom{
        padding: 2rem;
        
        .top1{
            display: flex;
            justify-content: space-between;
            font-size: 1.1rem;
            padding-bottom: 1rem;

            .name{
                display: flex;

            }
        }
                .line1 {
            width: 100%;
            height: 1px;
            background-color: gray;
        }
    }
}

.view6 {
    background-color: #DBCFEC;
    grid-area: right4;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 1rem;
        border-radius: 2rem;

        .top {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .left {
                font-size: 1.2rem;
                padding: 0.2rem;
                border: 2px solid black;
                border-radius: 50px;
            }

            .right {
                padding: 0.5rem;
                font-size: 1.5rem;
                background-color: black;
                color: whitesmoke;
                border-radius: 50%;
            }
        }

        .bottom {
            display: flex;
            flex-direction: column;
            gap: 1rem;

            p{
                font-size: 0.8rem;
            }

            img {
                width: 35px;
                height: 35px;
                border-radius: 50%;
                object-fit: cover;
            }

            h2 {
                display: flex;
                font-size: 1.2rem;
            }
        }

        .line {
            width: 100%;
            height: 10px;
            background-color: #55555558;
            border-radius: 50px;
            overflow: hidden;

            .innerline {
                height: 100%;
                width: 60%;
                background-color: black;
                border-radius: 50px;
            }
        }


        .line1 {
            width: 100%;
            height: 1px;
            background-color: gray;
        }
}

.view7 {
    grid-area: right5;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 1rem;
        border: 2px solid black;
        border-radius: 2rem;

        .top {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .left {
                font-size: 1rem;
                padding: 0.2rem;
                border: 2px solid black;
                border-radius: 50px;
            }

            .right {
                padding: 0.5rem;
                font-size: 1.5rem;
                background-color: black;
                color: whitesmoke;
                border-radius: 50%;
            }
        }

        .bottom {
            display: flex;
            flex-direction: column;
            gap: 1rem;

            p{
                font-size: 0.8rem;
            }

            img {
                width: 35px;
                height: 35px;
                border-radius: 50%;
                object-fit: cover;
            }

            h2 {
                display: flex;
                font-size: 1.2rem;
            }
        }

        .line {
            width: 100%;
            height: 10px;
            background-color: #55555558;
            border-radius: 50px;
            overflow: hidden;

            .innerline {
                height: 100%;
                width: 82%;
                background-color: black;
                border-radius: 50px;
            }
        }


        .line1 {
            width: 100%;
            height: 1px;
            background-color: gray;
        }
}

}